<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal dl-invert">
<!-- This is course reserve list <%= document["id"] %> -->
<%
items = document["item_z"].collect{ |i| JSON.parse(i) }
nitems = items ? items.size : 0
# This next line clumps items together by bib ID, then winnows each clump down
# to a single item (the first, not that it matters).  To go back to a strictly
# item-based list, get rid of .group_by and everything after it.
bibs = items.group_by{ |x| x["bib_id"] }.values.map{ |x| x[0] }
%>
<!-- It has <%= nitems %> item(s) in it -->
<%
document_show_fields(document).each do |field_name, field|
  if should_render_show_field? document, field
-%>
    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
<%
  end
end
%>
    <dt class="blacklight-items">Items:</dt>
<%
if nitems > 0
%>
    <dd class="blacklight-items">
      <ol style="margin-left: 0; padding-left: 10">
<%
  bibs.each do |b|
%>
      <li style="margin-left: 0; padding-left: 0"><a href="/catalog/b<%= b["bib_id"] %>"><%= b["title"] %></a></li>
<%
  end
%>
      </ol>
    </dd>
<%
end
%>
</dl>
