<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal dl-invert">
<%
doctype = document["doctype_s"] || "bib"
holdings = {
  "onl" => [],
  "lib" => [],
}
if doctype == "flower"
-%>
<%=
  render partial: "show_flower", locals: {document: document}
-%>
<%
elsif doctype == "resvlist"
  document_show_fields(document).each do |field_name, field|
    if should_render_show_field? document, field
-%>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
<%
    end
  end
-%>
<dt>Items:</dt>
<dd>
<a href="http://example.com/">Textbook of bad examples</a> / by Ulysses Fishwick. 2014.<br/>
<a href="http://example.com/">An introduction to the art of making up stuff</a> / by F. Scott Fitzgerald. 1928.
</dd>
<%
else
  document_show_fields(document).each do |field_name, field|
    if should_render_show_field? document, field
      if field_name == "lib" || field_name == "onl"
        holdings[field_name] = document[field_name]
      else
-%>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
<%
      end
    end
  end
-%>
</dl>
<hr/>
<%
end
if doctype != "resvlist"
-%>
<%= render partial: "show_holdings", locals: {document: document, holdings: holdings} %>
<%
end
%>
<!-- doctype_s: <%= doctype %> -->
